.configurations
{
  width:100%;
}

.base
{

}

.base h1
{
  padding:1rem;
  font-size:110%;
  font-weight:bold;
}

.master
{
  width:95%;
  margin-left:1rem;
  margin-bottom:0.5rem;
  border-left:1px solid $black;
  overflow:hidden;
}

.master-branch
{
  width:auto;
  margin-left:1rem;
}

.sub
{
  margin-left:1rem;
}

.sub-branch
{
  width:auto;
  margin-left:1rem;
}